body {
    background-color: beige;
}

/* Bootstrap override */
.bg-primary {
    background-color: mediumpurple !important;
}

footer {
    height: 200px;
}

main {
    max-height: 80vh;
    min-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 576px) {
    footer {
        max-height: fit-content;
        max-width: 100%;
    }

    footer p {
        font-size: 0.75rem;
        padding: 0.25rem;
    }
}
